body {
  background-color: #d7d8da;
  color: #06357a;
}

table {
  background-color: #06357a;
  border-style: double;
  border-radius: 5px;
}

th:hover {
  background-color: #a52834;
}

td:hover {
  background-color:orangered;
}